.chat-container {
    position: fixed;
    top: 32px;
    left: 32px;
    width: 400px;
    height: 300px;
    background-color: rgb(245, 245, 245);
    padding: 16px;
    border-radius: 8px;
    opacity: 0.9;
}

.chat-container .msg-list {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.chat-container .msg-input {
    height: 10%;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-container .msg-list .msg-item {
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    align-items: center;
}